body{
    background-color: rgb(248, 228, 212);

    height: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing{
    margin-top: 15vh;
    text-align: center;    
}

h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 75px;
    color: rgb(163 74 33);
    letter-spacing: 5vh;
}
 

h2{
    font-family: 'Lora', serif;
    font-size: 30px;
    color: rgb(163 74 33);
    text-align: center;
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ease-in-out;
}
  
.fade-in.active {
    opacity: 1;
    visibility: visible;
}

nav {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 70px;
    height: auto;
    margin-right: 10px; /* Optional margin for spacing between the links */
}

.nav-links li {
    font-size: 20px;
    font-family: 'Lora', serif;
}

.nav-links li:last-child {
    margin-left: auto;
}

.nav-links li a {
    display: block;
    padding: 8px;
    color: rgb(163, 74, 33);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
  
.fade-up.fade-up-active {
    opacity: 1;
    transform: translateY(0);
}


h3{
    color: rgb(163, 74, 33);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.about{
    display: flex;
    justify-content: space-between; /* Adjust the alignment as needed */
    align-items: center; /* Adjust the alignment as needed */
    font-size:20px;
    color: black;
}

.slideshow {
    position: relative;
  }
  
  .slides {
    display: flex;
  }
  
  img {
    width: 800px; /* Set the desired width for the images */
    height: 800px; /* Set the desired height for the images */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  